/**
* CSS for local tests - don't add this to production environments!
*/

#tracking-container-template {
    display: none;
}

/**
* END OF CSS for local tests - don't add this to production environments!
*/

/**
* Custom Tracking API CSS
*/

#tracking-item-template {
    display: none;
}

#loader-container {
    display: none;
    min-height: 20vh; /* this just expands the body height so the vertical alignment is visible in the snippet */
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/**
* END OF Custom Tracking API CSS
*/